# Django
DJANGO_SECRET_KEY=secret-key-here
DJANGO_SETTINGS_MODULE=config.settings.local

# Database (PostgreSQL)
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=5555
DB_CONN_MAX_AGE=60

# Separated by ,
CORS_ALLOWED_ORIGINS=

# JWT (in minutes, default: 1440 = 1 day)
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=1440

# Midtrans Sandbox
MIDTRANS_SERVER_KEY=server-key-example
MIDTRANS_CLIENT_KEY=client-key-example
